body {
  background-image: url('https://img.freepik.com/premium-vector/seamless-football-pattern-white-background-simple-football-icon-creative-design-can-be-used-wallpaper-web-page-background-textile-print-ui-ux_159242-3144.jpg?w=2000 ');

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
